<div class="slider slider--products" data-slides="4" data-slides-xl="4" data-slides-lg="3" data-slides-md="2" data-slides-sm="auto" data-slides-xs="auto" data-gap="20">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">

				<article class="product-card">
					<div class="product-card__figure">

						<div class="product-card__placeholder">
							img(src=require(src='~/images/photo-placeholder.png'))
						</div>

						<div class="product-card__side-actions">
							<button class="button button--circle">
								+icon("heart")
							</button>
							<button class="button button--circle">
								+icon("scales")
							</button>
						</div>
					</div>
					<div class="product-card__body">
						<h4>Тарелка керамическая ручной работы ⌀&nbsp;12</h4>
						<div class="product-card__price">
							<div class="price">600 ₽</div>
							<div class="price price--old">810 ₽</div>
						</div>

						<div class="product-card__actions">
							<div class="input-quantity">
								<button class="do-step-down" type="button">
									+icon("minus")
								</button>
								<input type="number" min="1" value="1">
								<button class="do-step-up" type="button">
									+icon("plus")
								</button>
							</div>

							<button class="button" type="button">
								+icon("cart")
								| В корзину
							</button>
						</div>

					</div>
				</article>

			</div>
			<div class="swiper-slide">

				<article class="product-card">
					<div class="product-card__figure">

						<div class="slider slider--card" data-slides="1" data-bullets-hover="1" data-nested="1">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										img(src=require("~/media/product-2.jpg") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-2.jpg") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-2.jpg") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-2.jpg") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-2.jpg") alt="")
									</div>
								</div>
							</div>
							<div class="slider__pagination"></div>
						</div>

						<div class="product-card__side-actions">
							<button class="button button--circle">
								+icon("heart")
							</button>
							<button class="button button--circle">
								+icon("scales")
							</button>
						</div>
					</div>
					<div class="product-card__body">
						<h4>Кашпо для цветов керамическое СИМПЛГРЕЙ</h4>
						<div class="product-card__price">
							<div class="price">450 ₽</div>
						</div>

						<div class="product-card__actions">
							<div class="input-quantity">
								<button class="do-step-down" type="button">
									+icon("minus")
								</button>
								<input type="number" min="1" value="1">
								<button class="do-step-up" type="button">
									+icon("plus")
								</button>
							</div>

							<button class="button" type="button">
								+icon("cart")
								| В корзину
							</button>
						</div>

					</div>
				</article>

			</div>
			<div class="swiper-slide">

				<article class="product-card">
					<div class="product-card__figure">

						<div class="slider slider--card" data-slides="1" data-bullets-hover="1" data-nested="1">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										img(src=require("~/media/product-3.jpg") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-3.jpg") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-3.jpg") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-3.jpg") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-3.jpg") alt="")
									</div>
								</div>
							</div>
							<div class="slider__pagination"></div>
						</div>

						<div class="product-card__stickers">
							<div class="sticker sticker--hit">
								+icon("star").sticker__bg
								<div>ХИТ</div>
							</div>
						</div>
						<div class="product-card__side-actions">
							<button class="button button--circle">
								+icon("heart")
							</button>
							<button class="button button--circle">
								+icon("scales")
							</button>
						</div>
					</div>
					<div class="product-card__body">
						<h4>Умные часы SMARTWATCH XM 109 черный</h4>
						<div class="product-card__price">
							<div class="price">12 999 ₽</div>
						</div>

						<div class="product-card__actions">
							<div class="input-quantity">
								<button class="do-step-down" type="button">
									+icon("minus")
								</button>
								<input type="number" min="1" value="1">
								<button class="do-step-up" type="button">
									+icon("plus")
								</button>
							</div>

							<button class="button" type="button">
								+icon("cart")
								| В корзину
							</button>
						</div>

					</div>
				</article>

			</div>
			<div class="swiper-slide">

				<article class="product-card">
					<div class="product-card__figure">

						<div class="slider slider--card" data-slides="1" data-bullets-hover="1" data-nested="1">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										img(src=require("~/media/product-4.png") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-4.png") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-4.png") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-4.png") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-4.png") alt="")
									</div>
								</div>
							</div>
							<div class="slider__pagination"></div>
						</div>

						<div class="product-card__stickers">
							<div class="sticker sticker--new">
								+icon("star").sticker__bg
								<div>NEW</div>
							</div>
						</div>
						<div class="product-card__side-actions">
							<button class="button button--circle">
								+icon("heart")
							</button>
							<button class="button button--circle">
								+icon("scales")
							</button>
						</div>
					</div>
					<div class="product-card__body">
						<h4>Золотое кольцо МАЛИКА с аметистом и фианитами</h4>
						<div class="product-card__price">
							<div class="price">15 700 ₽</div>
						</div>

						<div class="product-card__actions">
							<div class="input-quantity">
								<button class="do-step-down" type="button">
									+icon("minus")
								</button>
								<input type="number" min="1" value="1">
								<button class="do-step-up" type="button">
									+icon("plus")
								</button>
							</div>

							<button class="button" type="button">
								+icon("cart")
								| В корзину
							</button>
						</div>

					</div>
				</article>

			</div>
			<div class="swiper-slide">

				<article class="product-card">
					<div class="product-card__figure">

						<div class="slider slider--card" data-slides="1" data-bullets-hover="1" data-nested="1">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										img(src=require("~/media/product-2.jpg") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-2.jpg") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-2.jpg") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-2.jpg") alt="")
									</div>
									<div class="swiper-slide">
										img(src=require("~/media/product-2.jpg") alt="")
									</div>
								</div>
							</div>
							<div class="slider__pagination"></div>
						</div>

						<div class="product-card__side-actions">
							<button class="button button--circle">
								+icon("heart")
							</button>
							<button class="button button--circle">
								+icon("scales")
							</button>
						</div>
					</div>
					<div class="product-card__body">
						<h4>Кашпо для цветов керамическое СИМПЛГРЕЙ</h4>
						<div class="product-card__price">
							<div class="price">450 ₽</div>
						</div>

						<div class="product-card__actions">
							<div class="input-quantity">
								<button class="do-step-down" type="button">
									+icon("minus")
								</button>
								<input type="number" min="1" value="1">
								<button class="do-step-up" type="button">
									+icon("plus")
								</button>
							</div>

							<button class="button" type="button">
								+icon("cart")
								| В корзину
							</button>
						</div>

					</div>
				</article>

			</div>
		</div>
	</div>

	<button class="slider__nav -prev">
		+icon("chevron")
	</button>

	<button class="slider__nav -next">
		+icon("chevron")
	</button>

</div>
